language: csharp
mono: latest
dotnet: 2.1.402
env:
  global:
    - FrameworkPathOverride="$(dirname $(which mono))/../lib/mono/4.5/"
    - NUGETURL=https://api.nuget.org/v3/index.json
    - VERSION=${TRAVIS_TAG:-0.0.0-dev}
    - MODE=Release
    - PRODUCT=QRest
    - AUTHORS='QRest Contributors'
    - ICON=https://raw.githubusercontent.com/pamidur/q-rest/master/logo.png
script:
  - echo $VERSION
  - dotnet restore ./
  - dotnet build ./ -c $MODE -p:Version=$VERSION -p:InformationalVersion=$VERSION:$TRAVIS_COMMIT -p:Product="$PRODUCT" -p:Authors="$AUTHORS"
  - dotnet test ./ -c $MODE --no-build
deploy:
  skip_cleanup: true
  provider: script
  script: dotnet pack ./ -c $MODE --no-build -p:Version=$VERSION -p:Product="$PRODUCT" -p:Authors="$AUTHORS" -p:PackageIconUrl="$ICON" && dotnet nuget push ./src/**/*.nupkg -s $NUGETURL -k $NUGETKEY
  on:
    tags: true
